<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UnitOfWork" connectionString="data source=192.168.99.100;initial catalog=BDTest;persist security info=True;user id=TestEF;password=123456;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>